<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <p>Hello {{username}},</p>
    
    <p>We received a request to reset your password. If you did not make this request, you can safely ignore this email.</p>
    
    <p>Click on the following link to reset your password:</p>
    
    <a href="{{resetLink}}">{{resetLink}}</a>

    <p>This link will expire in {{expirationTime}} hours.</p>

    <p>If you're having trouble clicking the link, you can copy and paste it into your browser.</p>

    <p>Thank you,</p>
    <p>Your Application Team</p>
</body>
</html>
